<div class="main-container">
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef>Data</th>
        <td mat-cell *matCellDef="let element"> {{ element.data }}</td>
      </ng-container>

      <ng-container matColumnDef="simbol">
        <th mat-header-cell *matHeaderCellDef> Simbol</th>
        <td mat-cell *matCellDef="let element"> {{ element.simbol }}</td>
      </ng-container>

      <ng-container matColumnDef="quantidade">
        <th mat-header-cell *matHeaderCellDef> Quantidade</th>

        <td mat-cell *matCellDef="let element"> {{ element.quantidade }}</td>
      </ng-container>

      <ng-container matColumnDef="saldo">
        <th mat-header-cell *matHeaderCellDef> Saldo</th>
        <td mat-cell *matCellDef="let element"> {{ element.saldo }}</td>
      </ng-container>

      <ng-container matColumnDef="grafico">
        <th mat-header-cell *matHeaderCellDef> Gráfico</th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary">
            <mat-icon>show_chart</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
