<div class="md-dialog-container">
  <div id="aviso">
    <h1 class="textoAviso">{{notFound}}</h1>
  </div>
  <div id="dados">
    <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'360px'}"></canvasjs-chart>
    <br>
    <table style="width: 100%">
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <td>Rendimento das operações de Compra</td>
        <td>{{ resumo.rendimentoCompra }} %</td>
      </tr>
      <tr>
        <td>Rendimento das operações de Venda</td>
        <td>{{ resumo.rendimentoVenda }} %</td>
      </tr>
      <tr>
        <td>Quantidade de Ações</td>
        <td>{{ resumo.quantidade }}</td>
      </tr>
      <tr>
        <td>Saldo</td>
        <td>R$ {{ resumo.saldo }}</td>
      </tr>
    </table>
  </div>
  <mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
  </mat-dialog-actions>
</div>
